<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h3 class="m-3 text-center">
        <i class="fas fa-star"></i> 使い方 <i class="fas fa-star"></i>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-12 col-md-8 col-lg-6 pt-lg-6 pt-md-4">
      <div class="text-center">
         <h3>このアプリは素数を判定できます</h3>
         <h3>調べたい数字を入力して判定してみましょう</h3>
      </div>
    </div>
  </div>
</div>