<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h2 class="text-center mt-5"><i class="fas fa-award" style="color:red;"></i> 素数チェッカー <i class="fas fa-award" style="color:red;"></i></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto">
      <h4 class="mt-3 text-center">これは特定の数字が素数であるかを判定できるアプリです！</h4>
      <h4 class="mt-3 text-center">お好きな数字を入力してみましょう！</h4>
      <div class="text-center">
        <%= link_to"Go!!!",new_prime_path, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
</div>