<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h3 class="m-3 text-center">結果</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-10 col-md-6 col-lg-5 pt-lg-5 pt-md-5">
      <div class="form-group">
        <%# if @prime % @prime == 0 %>
         <h3>素数です</h3>
        <%# else %>
         <h3>素数じゃありません</h3>
        <%# end %>
      </div>
    </div>
  </div>
</div>