<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h3 class="m-3 text-center">投稿</h3>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-10 col-md-6 col-lg-5 pt-lg-5 pt-md-5">
      <h4>
        <%= @blog.title %>
      </h4>
      <h6>
        <%= @blog.body %>
      </h6>
    </div>
  </div>
</div>